# dependencies
node_modules/

# build
/dist/

# local env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# coverage
coverage/

# caches
.eslintcache
.cache/

# misc
.DS_Store

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

.agent/
.agents/
issue.md